#in-form {
    display: flex;
    justify-content: center;
}

#circ-form {
    border: solid black 1px;
}

#results {
    border: solid black 1px;
    position: fixed;
    top: 50px;
    right: 15px;
    left: 15px;
    bottom: 15px;
    text-align: center;
    font-size: 18px;
    /*display: none;*/
}